{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

{{!-- <section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <h2 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

        <button type="button" class="button" id="button">Купити</button>

        <p class="user">Link</p>
</section>--}}

{{!-- <section class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <p class="user test">Link</p>
</section>

<section class="cnvknscj p-5 box">
    <strong>test</strong>
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>
    <em>test</em>
    <section>
        <p class="irogjrhsklfkgdprtjpir">Link</p>
    </section>
</section> --}}

{{!-- <footer class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <p class="user">
        <em class="child">Test EM</em>
    </p>

    <div>
        <div>
            <em class="child">Test EM</em>
        </div>
    </div>

    <div class="child">Test EM</div>

</footer>--}}

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
</body> --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <ul>
        <div class="item">First</div>
        <p class="item">Second</p>
        <p class="item">Second</p>
        <article class="item">Last</article>
        <div class="item">First</div>
        <strong class="item">test strong</strong>
        <p></p>
        <div class="item">First</div>
        <p class="item">Second</p>
        <article class="item">Last</article>
    </ul>
</div> --}}

{{!-- <div class="card p-5 m-5 card-dark">
    <input class="input-dark p-5" placeholder="This is text" required>
    <input class="input-dark" type="number">
</div>

<div class="card p-5 m-5 card-dark">
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/200/300" height="100px">

    <a href="https://picsum.photos/200/300" rel="external ohugfrfhfloio">Link</a>
    <br>
    <button class="btn before-after">Click</button>
    <br>
    <a class="small btn btn-secondary big" href="https://picsum.photos/200/300">Click</a>
</div>

<div class="card p-5 m-5 card-dark">
    <p class="before-after">
        dsDJFNghr<br>lgiMioMAAEDJFJK dsDJFNghrlgiMioMAAEDJFJK dsDJFNghrlgiMioMAAEDJFJK
    </p>
</div> --}}

<div lang="fr" class="card p-5 m-5 card-dark">
    <a class="link" href="https://ru.wikipedia.org/wiki/Google_C%2B%2B_Testing_Framework">Click me</a>
</div>

<div lang="en" id="test" class="card p-5 m-5 card-dark">
    <input>
    <span>Hello world!</span>
    <button>Text button</button>
</div>

<div class="p-5 m-5 card-dark">
    <button>Text button</button>
    <button disabled>Disabled button</button>
</div>

<div class="p-5 m-5 card-dark">
    <input class="inp">

    <div class="mt-5">
        <div>
            <input type="checkbox" checked>
            <span>First checkbox</span>
        </div>
        <div>
            <input type="checkbox">
            <span>Second checkbox</span>
        </div>
    </div>
</div>

<div class="p-5 m-5 card-dark">
    <div>
        <input type="email" required class="valid">
    </div>
    <div>
        <input type="email" class="valid" placeholder="Test">
        <span>Test text</span>
    </div>

    <div class="mt-5">
        <input type="number" min="10" max="200" required class="number">
    </div>
</div>