/* :root {
  background: purple;
}

html {
  max-width: 720px;

  background: blue;
}

body {
  background: #fff;
}

* {
  color: red;
}

h1 {
  color: green;
}

h1.button {
  color: blue;
}

.box {
  background: #464545;
}

h1,
h2#user,
button.button#button {
  color: green;
}

#user,
.user {
  color: blue;
}

#box > p {
  color: paleturquoise;
}

footer > .user {
  color: palevioletred;
}

footer > h1 {
  color: palevioletred;
}

footer em.child,
footer div.child {
  color: rgb(112, 216, 152);
}

.p-top {
  background: black;
}

h1 ~ p,
h1 ~ * > p {
  background: black;
} */

.card-dark {
  background: #ededed;
}

.item {
  color: green;
}

.item:first-child {
  color: blue;
}

.item:last-child {
  color: red;
}

.item:only-child {
  color: yellow;
}

.item:last-of-type {
  color: purple;
}

.item:only-of-type {
  color: orangered;
}

.item:nth-of-type(3n - 2) {
  color: goldenrod;
}

.item:nth-child(2n) {
  color: rgb(116, 58, 112);
}

.item:not(p) {
  color: palevioletred;
}

p:empty {
  height: 10px;
  background: red;
}

.input-dark {
  background: #6d6d6d;
}

.input-dark[required] {
  background: #b71818;
}

.input-dark[type='number'] {
  background: #18b78f;
}

.small-img[alt~='small'] {
  height: 500px;
}

a[rel~='external'] {
  color: green;
}

button[class|='btn'] {
  background: rgb(164, 163, 163);
}

a[class*='btn'] {
  background: #b71818;
}

a[class$='big'] {
  background: #020981;
}

.btn::first-letter {
  color: blue;
}

.big-text::first-line {
  color: red;
}

.input-dark::placeholder {
  color: green;
  background: blue;
}

.before-after::after,
.before-after::before {
  content: '$$$';
  color: green;
  background: red;
}

#test:target {
  color: red;
}

.link:link {
  color: red;
}

.link:hover {
  color: green;
}

.link:active {
  color: purple;
}

.card:active {
  background: purple;
}

input {
  background-color: gray;
}

input:focus {
  background-color: red;
}

.card:focus-within {
  background: red;
}

.card:lang(en) > span::after {
  content: ' (en)';
}

button {
  background-color: pink;
}

button:enabled {
  background-color: magenta;
}

button:disabled {
  background-color: aqua;
}

.inp:read-write {
  background-color: blue;
}

.inp:read-only {
  background-color: red;
}

input[type='checkbox']:checked ~ span {
  background: red;
}

.valid:valid {
  background: orange;
}

.valid:invalid {
  background: blueviolet;
}

.valid:optional {
  background: greenyellow;
}

.number:focus {
  background: gray;
}

.number:out-of-range {
  background: red;
}

.number:in-range {
  background: green;
}
.number:invalid {
  background: red;
}

input:placeholder-shown ~ span {
  background: pink;
}
