@layer normalize, component, variant, main, adaptive;

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('/font/HelveticaNeueBold.ttf');
}

@layer component {
  .page_section {
    display: flex;
    justify-content: center;
  }

  .button {
    text-decoration: none;
    color: var(--color-black);
    text-align: center;
    padding: var(--spacing-3);
    border-radius: var(--radius-1);
    border: 1px solid transparent;
  }

  .click {
    transition: opacity var(--transition-1);
  }

  .click:hover {
    opacity: var(--opacity-1);
  }

  .click:active {
    opacity: var(--opacity-2);
  }

  .icon {
    display: block;
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .doubleLine {
    line-height: var(--line-height);
  }
}

@layer variant {
  .button_primary {
    color: var(--color-white);
    background-color: var(--color-primary);
  }

  .button_secondary {
    color: var(--color-primary);
    border-color: var(--color-primary);
    border-width: 2px;
  }

  .page_section_light {
    background-color: var(--color-light);
  }

  .feat_icon {
    height: 48px;
    width: 48px;
  }

  .icon_arrow {
    height: 14px;
    width: 24px;
    background-image: url('/svg/arrow-right.svg');
  }

  .icon_arrow_blue {
    height: 14px;
    width: 24px;
    background-image: url('/svg/arrow-right-blue.svg');
  }
}

body {
  font-family: 'HelveticaNeueBold', sans-serif;

  background-color: var(--color-white);
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #611f69;
  --color-light: #f4ede4;
  --color-link: #1264a3;

  --page-width-big: 1260px;
  --page-width-medium: 1000px;
  --page-width-small: 700px;

  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 20px;
  --spacing-5: 24px;
  --spacing-6: 28px;
  --spacing-7: 32px;
  --spacing-8: 36px;
  --spacing-9: 40px;

  --size-1: 14px;
  --size-2: 18px;
  --size-3: 22px;
  --size-4: 26px;
  --size-5: 30px;
  --size-6: 34px;

  --radius-1: 4px;

  --opacity-1: 0.7;
  --opacity-2: 0.3;
  --transition-1: 0.7s;

  --line-height: 1.5em;
}

@layer main {
  .page {
    display: grid;
  }

  .page_content {
    width: 100%;
    padding: var(--spacing-3);
  }

  .hero_section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 200px;

    min-height: 600px;
  }

  .hero {
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
  }

  .hero_content {
    display: grid;
    gap: var(--spacing-5);
    color: var(--color-black);
    max-width: 425px;
    position: relative;
  }

  .hero_image {
    position: absolute;
    left: 580px;
    top: 0;
  }

  .brands {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: var(--spacing-8);
    row-gap: var(--spacing-4);
    flex-wrap: wrap;
  }

  .hero_label {
    font-size: var(--size-1);
  }

  .hero_title {
    font-size: 50px;
  }

  .hero_info {
    font-size: var(--size-2);
  }

  .hero_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-5);
  }

  .features_section {
    padding-top: 150px;

    display: grid;
    gap: var(--spacing-5);

    background-image: url('/img/features2.png');
    background-repeat: no-repeat;
    background-position: center left;
  }

  .feat_info_1 {
    background-image: url('/img/features.png');
    background-repeat: no-repeat;
    background-position: top right;
  }

  .feat_info_2 {
    display: grid;
    justify-self: flex-end;
  }

  .features_title {
    font-size: var(--size-6);
  }

  .features_description {
    font-size: var(--size-2);
    max-width: 520px;
  }

  .feat_card {
    padding: var(--spacing-3);
    background-color: var(--color-white);
    display: grid;
    gap: var(--spacing-3);

    font-size: var(--size-2);

    grid-template-rows: min-content min-content 1fr min-content;
  }

  .feat_link {
    justify-self: flex-end;
  }

  .features_grid_3,
  .features_grid_4 {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: var(--spacing-3);
    padding-bottom: 200px;
  }

  .features_grid_3 > .feat_card:first-of-type {
    display: grid;
    grid-column: 2 / 3;
  }

  .features_grid_3 > .feat_card:nth-of-type(2) {
    display: grid;
    grid-column: 3 / 4;
  }

  .features_grid_3 > .feat_card:nth-of-type(3),
  .features_grid_3 > .feat_card:last-of-type {
    display: grid;
    grid-column: 4 / 5;
  }

  .features_grid_3 > .feat_card:first-of-type,
  .features_grid_3 > .feat_card:nth-of-type(2),
  .features_grid_4 > .feat_card:first-of-type {
    grid-row: 1 / 3;
  }

  .deliveroo_section {
    display: flex;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 48px;
    width: 1000px;
  }

  .deli_info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
    padding-left: var(--spacing-9);
  }

  .deli_description {
    font-size: var(--size-4);
  }

  .deli_logo {
    max-width: min-content;
  }

  .deli_address {
    font-size: var(--size-2);
  }

  .about_section {
    padding-top: 100px;
    padding-bottom: 80px;
    max-width: 100%;
  }

  .about_content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  .about_title {
    display: flex;
    justify-content: center;
    font-size: var(--size-5);

    padding-bottom: var(--spacing-9);
  }

  .about_card {
    width: 30%;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.1);
  }

  .about_image {
    max-width: 100%;
  }

  .about_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--size-1);
    padding: var(--spacing-3);
  }

  .about_name {
    color: #454245;
    font-size: var(--size-1);
  }

  .about_header {
    font-size: var(--size-4);
  }

  .about_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about_button {
    color: var(--color-link);
    text-transform: uppercase;
  }

  .icon_arrow_blue {
    justify-content: flex-end;
  }
}

@layer adaptive {
  @media all and (1260px <= width) {
    .page_content {
      width: 100%;
      max-width: var(--page-width-big);
    }
  }

  @media all and (1000px <= width < 1260px) {
    .page_content {
      width: 100%;
      max-width: var(--page-width-medium);
    }

    .hero_image {
      left: 518px;
      height: 300px;
    }
  }

  @media all and (width < 1000px) {
    .page_content {
      width: 100%;
      max-width: var(--page-width-small);
    }

    .hero_image {
      position: static;
      order: -1;
      width: 100%;
    }

    .hero_content {
      max-width: 100%;
    }

    .features_grid_3,
    .features_grid_4 {
      grid-template-columns: repeat(3, 1fr);
    }

    .features_grid_3 > .feat_card:first-of-type {
      grid-column: 1 / 2;
    }

    .features_grid_3 > .feat_card:nth-of-type(2) {
      grid-column: 2 / 3;
    }

    .features_grid_3 > .feat_card:nth-of-type(3),
    .features_grid_3 > .feat_card:last-of-type {
      grid-column: 3 / 4;
    }

    .features_grid_4 > .feat_card:first-of-type {
      grid-row: 1 / 3;
    }

    .features_section,
    .feat_info_1 {
      background: none;
    }

    .deli_image {
      display: none;
    }
  }

  @media all and (width < 600px) {
    .features_grid_3,
    .features_grid_4 {
      grid-template-columns: 2fr 2fr;
    }

    .features_grid_3 > .feat_card:first-of-type,
    .features_grid_3 > .feat_card:nth-of-type(3) {
      grid-column: 1 / 2;
    }

    .features_grid_3 > .feat_card:nth-of-type(2),
    .features_grid_3 > .feat_card:last-of-type {
      grid-column: 2 / 3;
    }
  }

  @media all and (width < 400px) {
    .hero_buttons {
      grid-template-columns: 1fr;
      gap: var(--spacing-3);
    }

    .features_grid_4 {
      grid-template-columns: 1fr;
    }

    .features_grid_3 {
      display: flex;
      flex-direction: column;
    }
  }
}
